.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(253, 2, 2);
    width: 100%;

    &anchor{
        color: black;
    }

    &img{
        padding: 1rem;
        height: 10rem;
        width: 10rem;

        &2{
            height: 5rem;
            width: 5rem;
        }
    }

    &div{
        display: flex;
        gap: 1rem;
    }

}


// &nav{
//     display: flex;
//     gap: 1rem;
// }

// &div{
//     display: flex;
//     align-items: center;

//     &hijo{
//         display: flex;
//         gap: 1rem;
//         align-items: center;
//         padding-right: 1rem;
//     }
// }

// &ul{
//     display: flex;
//     gap: 1rem;
//     list-style-type: none;

// }

