.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(253, 2, 2);
    width: 100%;

    &nav{
        display: flex;
    }

    &ul{
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    &anchor{
        color: black;
    }

    &img{
        padding: 1rem;
        height: 10rem;
        width: 10rem;

        &2{
            height: 5rem;
            width: 5rem;
        }
    }

    &div{
        display: flex;
        gap: 1rem;
        margin-right: 1rem;
    }

}

.carritoimg{
    width: 5rem;
}



