.header{
    display: flex;
    justify-content: space-between;
    background-color: red;

    &img{
        padding: 1rem;
        height: 10rem;
        width: 10rem;
    }

    &nav{
        display: flex;
    }

    &div{
        display: flex;
        align-items: center;

        &hijo{
            display: flex;
            gap: 1rem;
        }
    }

    &ul{
        display: flex;
        gap: 1rem;

    }
}