.itemlistcontainer{
    display: flex;
    gap: 1rem;
    background-image: linear-gradient(to left, rgb(240, 153, 153),red);
}

.detail{
    display: flex;
    justify-content: space-evenly;

    &img{
        height: 22rem;
        max-width: 20rem;
    }
}

.counter{
    margin-bottom: 1rem;
}

.ternario{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.iralcarrito{
    font-size: 2rem;
    color: white;
    border: white solid 1px;
    background-image: linear-gradient(to left, rgb(219, 129, 129),red);
    border-radius: 1rem;
}